<div class="admin-view">
<h3>Admin</h3>

  <%= render partial: "admin/report" %>

  <%= render partial: "admin/index_workflows", :layout => false, :locals => {:presenter => @presenter } %>

  <%= render partial: "admin/new_workflow",    :layout => false, :locals => {:presenter => @presenter } %>

  <%= render partial: "admin/index_pipelines", :layout => false, :locals => {:presenter => @presenter } %>

  <%= render partial: "admin/new_pipeline", :layout => false, :locals => {:presenter => @presenter } %>

</div>
