<div class="admin-view">
  <h3>Workflow <small>Edit</small></h3>

  <form method="post" action="<%= @presenter.action %>">
    <input type="hidden" name="_method" value="PUT"/>
    <div class="form-group">
      <label class="control-label" for="name">Name</label>
      <input type="textbox" name="name" id="name" value="<%= @presenter.name %>" class="form-control"  placeholder="Enter a workflow name" required />
    </div>
    <div class="form-group">
      <label class="control-label" for="turn_around_days">Turn around time</label>
      <div class="input-group">
        <input
          type="number"
          name="turn_around_days"
          id="turn_around_days"
          class="form-control"
          min="0"
          step="1"
          value="<%= @presenter.turn_around %>"
          placeholder="Turn around time"
          aria-describedby="turn_around_days_indicator"
        />
        <span class="input-group-addon" id="turn_around_days_indicator">days</span>
      </div>

    </div>
    <div class="panel panel-danger">
      <div class="panel-heading"><h4><span class="glyphicon glyphicon-exclamation-sign"></span> Caution</h4></div>
      <div class="panel-body">
        <p>Changing these options on an existing workflow is not recommended and can have unpredictable effects.</p>
        <ul>
          <li>Enabling reporting will cause <strong>all</strong> existing assets in the workflow to appear in the reportable page.</li>
          <li>Enabling reporting will also distort report turn around times for the initial set of assets in the workflow.</li>
          <li>Disabling comments can cause loss of existing comments if an existing batch is edited.</li>
          <li>Enabling/disabling multi team will not change behavior of old assets, only behavior of new assets will be changed.</li>
        </ul>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary <%= @presenter.has_comment ? 'active' : '' %>" for="hasComment">
            <input type="checkbox" autocomplete="off" name="hasComment" id="hasComment" <%= @presenter.has_comment ? 'checked' : '' %> > Has comment
            <span class="glyphicon glyphicon-unchecked"></span><span class="glyphicon glyphicon-check"></span>
          </label>
          <label class="btn btn-primary <%= @presenter.reportable ? 'active' : '' %>" for="reportable">
            <input type="checkbox" autocomplete="off" name="reportable" id="reportable" <%= @presenter.reportable ? 'checked' : '' %> > Reportable
            <span class="glyphicon glyphicon-unchecked"></span><span class="glyphicon glyphicon-check"></span>
          </label>
          <label class="btn btn-primary" style="color:black" for="team">
            <%= select_tag "team", options_from_collection_for_select(@presenter.teams, "id", "humanized_name", @presenter.team_id) %>
          </label>
        </div>
      </div>
    </div>

    <button type="submit">Update Workflow</button>
  </form>
</div>
