<% presenter.each_asset(asset_group_name) do |asset, pos| %>
<tr>
  <% asset_fields.each do |asset_field| %>
    <% if asset_field == :completed? %>
      <td><%= (asset.completed?) ? "Yes":"No" %><span style="float: right;"><input name="complete[<%= asset.identifier %>]" type="checkbox" <%= (asset.completed?) ? "checked='checked'":"" %> /></span></td>
    <% else %>
      <td><%= asset.method(asset_field).call %></td>
    <% end %>
  <% end %>
  <td class="assets-select-batch"><button type="button" class="btn btn-default" data-psg-batch-id="<%= asset.batch_id %>" >Select batch</button></td>
</tr>

<% end %>
