<div class="asset-group-view row">
<h3>Samples  <small><strong>Edit</strong></small> </h3>
  <table class="table table-striped table-bordered">
  <thead>
  <tr><th>Type</th><th>Id</th><th>Study</th><th>Created at</th><th>Completed?</th>
  </tr>
  </thead>
  <tbody>
  <% presenter.each_asset("Sanger Sample ID") do |asset, pos| %>
  <tr>
      <td><%= asset.identifier_type %></td><td><%= asset.identifier %></td><td><%= asset.study %></td>
      <td><%= asset.created_at %></td><td><%= asset.completed_at %></td>
  </tr>
  <% end %>
  </tbody>
  </table>
</div>
