<!DOCTYPE html>
<html>
  <head>
    <%= css :application, media: 'screen' %>
    <%= js :application %>
  </head>
<body>
    
 <%= erb(:_menu, :layout => false) %>

<div class="container" id="body">
    <div id="alerts-box">
    <!-- Just a whole app outline -->
    <% render_messages do |klass,message| %>
      <div class='alert alert-<%= klass %>'><%= message %></div>
    <% end %>
    </div>

  <%= yield %>

</div>
<div class="container" id="footer">
</div>
<p class="navbar-fixed-bottom muted"><%= presenter.version_information %></p>
  
  
</body>
</html>
