<!DOCTYPE html>
<html>
<head>
  <title>SmWorkflowLims</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: 'menu', layout: false, locals: {presenter: @presenter} %>

  <div class="container" id="body">
      <div id="alerts-box">
        <%= render "flashes" %>
      </div>

    <%= yield %>

  </div>
  <div class="container" id="footer">
    <p class="muted"><%= @presenter.version_information %></p>
  </div>

</body>
</html>
